:root {
  --text-color-bold: #333;
  --text-color-light: #a7a9a8;
}
body {
  color: var(--text-color-bold);
}
.control {
  width: 140px;
  height: 35px;
  background-color: var(--text-color-bold);
  border-radius: 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}
.control a {
  text-decoration: none;
  font-size: 12px;
  color: white;
}
h2 {
  margin: 10px auto;
  font-size: 40px;
  text-align: center;
}
.aaaa {
  width: 60%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
label {
  font-size: 20px;
  font-weight: bold;
}
#mahd {
  width: 80%;
  height: 40px;
  text-indent: 10px;
}
.idInvoice {
  width: 90%;
  height: 60px;
  border-collapse: collapse;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
  width: 95%;
  height: 60px;
  margin: 20px auto;
}

tr {
  text-align: center;
}

th {
  background-color: #74c0fc;
  color: rgb(31, 61, 87);
  padding: 20px;
}
td {
  padding: 20px;
}
td a {
  color: rgb(31, 61, 87);
  text-decoration: none;
  font-weight: bold;
}
.total {
  font-weight: bold;
}
.totall {
  color: rgb(31, 61, 87);
  font-weight: bold;
}
.navi {
  text-decoration: none;
  font-size: 25px;
  color: #74c0fc;
  text-align: center;
  margin: 10px;
}
